
h1 {
    color: firebrick;
}
body {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d477e123-2663-4944-bc38-0b919617bbb0/d6toae7-14fda379-dd61-4e9d-8260-fdba89bab91d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2Q0NzdlMTIzLTI2NjMtNDk0NC1iYzM4LTBiOTE5NjE3YmJiMFwvZDZ0b2FlNy0xNGZkYTM3OS1kZDYxLTRlOWQtODI2MC1mZGJhODliYWI5MWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.hDsnshOtj10dbkiJvp_u0BTnKaWXSOMEkD1kEDsvFAM);
    background-repeat: repeat;
    background-size: contain;

    background-color: #cccccc;
}
.center {
    text-align: center;

}
.container {
  position: relative;
}
.taust{
    background-color: rgb(212, 234, 227, 0.8);color:black; padding: 50px;
}

