
h1 {
    color: rgb(0, 0, 0);
}
body {
    background-image: url(https://i.pinimg.com/originals/8f/1a/b8/8f1ab8b14a55720d6859620a6f596933.jpg);
    background-size: contain;
}
.center {
    text-align: center;

}
.container {
  position: relative;
}
.taust{
    background-color: rgb(212, 234, 227, 0.8);color:black; padding: 50px;
}

.navbar ul{
    /* text-align: center; */
    background-color: rgb(212, 234, 227, 0.65);
