body {
    background-image: url("https://wallpapercave.com/wp/oDaAJfw.jpg");
    background-size: contain;
    }
.taust{
    background-color: rgb(212, 234, 227, 0.5);
    color:black;
    padding:50px;
}