body {
    background-image: url("https://wallpapercave.com/wp/oDaAJfw.jpg");
    background-size: cover;
    color: rgb(0, 0, 0);

}
h1 {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color:seashell;
}

<<<<<<< Updated upstream
.wrapper {
	padding: 5px;
	max-width: 960px;
	width: 95%;
	margin: 20px auto;
}
.kastikesed{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px;
}
.kast{
    flex:1;
    border:1px solid rgb(253, 250, 86);
    margin: 2px;
    padding: 10px;
    margin-right: 0;
}

.pilt{
    height: 100px;
    width: 300px;
    
=======
.Nav {
    margin: auto;
    position:relative;
    left: 50%;
    display: flex;
    flex-direction: column;
    height: 1%;
    width: 100%;
    padding-left: 1%;
    border-radius: 10px;
    text-align: center;
    top: 50%;
    justify-content: center;
 
}    
.Nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}   
.Nav li{
    float:left;
}
.Nav li a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-transform: uppercase;
    padding-left: 10px;
    color:#333;
}

li a:hover{
    background-color: red;
>>>>>>> Stashed changes
}