body {
    background-image: url("https://images.hdqwalls.com/wallpapers/the-legend-of-zelda-nature-4k-m6.jpg");
    background-size: cover;
    text-align: center;
/* }
h1 {
    background-color: rgb(206, 237, 227);
    ;
}
p {
    background-color: rgb(168, 210, 196);
} */