body {
    background-image: url("https://images.hdqwalls.com/wallpapers/the-legend-of-zelda-nature-4k-m6.jpg");
    background-size: cover;
    }
.taust{
    background-color: rgb(212, 234, 227, 0.5);
    color:black;
    padding:50px;
}